<div id="homepage-body" data-bs-spy="scroll" data-bs-target="#topNav" data-bs-smooth-scroll="true" tabindex="0">

  <!-- NAVBAR -->
  <%= render 'navbar' %>
  <!-- NAVBAR END -->

  <!-- HERO SECTION -->
  <%= render 'hero' %>
  <!-- HERO SECTION END -->

  <!-- HIGHLIGHTS / STATS SECTION -->
  <%= render 'highlights' %>
  <!-- HIGHLIGHTS / STATS SECTION END -->

  <!-- FEATURES SECTION -->
  <%= render 'features' %>
  <!-- FEATURES SECTION END -->

  <!-- BENEFITS SECTION -->
  <%= render 'benefits' %>
  <!-- BENEFITS SECTION END -->

  <!-- SOCIAL PROOF SECTION -->
  <%= render 'social_proof' %>
  <!-- SOCIAL PROOF SECTION END-->

  <!-- CALL TO ACTION -->
  <%= render 'call_to_action' %>
  <!-- CALL TO ACTION END -->

  <!-- FOOTER -->
  <%= render 'footer' %>
  <!-- FOOTER END -->

</div>