  <div class="d-flex gap-2 align-items-center mb-3">
    <% if @teacher.new_record? %>
      <svg width="50px" height="50px" viewBox="-1.1 -1.1 24.20 24.20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>profile_image_plus_round [#1327]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -2199.000000)" fill="#000000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M306,2057.9552 C306,2058.5059 305.552,2058.95284 305,2058.95284 L304,2058.95284 L304,2060.00236 C304,2060.55306 303.552,2061 303,2061 C302.448,2061 302,2060.55306 302,2060.00236 L302,2058.95284 L301,2058.95284 C300.448,2058.95284 300,2058.5059 300,2057.9552 C300,2057.4045 300.448,2056.95755 301,2056.95755 L302,2056.95755 L302,2056.01179 C302,2055.46109 302.448,2055.01415 303,2055.01415 C303.552,2055.01415 304,2055.46109 304,2056.01179 L304,2056.95755 L305,2056.95755 C305.552,2056.95755 306,2057.4045 306,2057.9552 M294.623,2048.90958 C294.407,2048.89162 294.19,2048.87666 293.969,2048.87666 C293.766,2048.87666 293.567,2048.89162 293.368,2048.90658 C292.017,2048.61627 291,2047.41711 291,2045.98349 C291,2044.33339 292.346,2042.99057 294,2042.99057 C295.654,2042.99057 297,2044.33339 297,2045.98349 C297,2047.4201 295.979,2048.62226 294.623,2048.90958 M286.018,2055.95991 C286.004,2055.9649 286.014,2055.96091 286,2055.9659 L286,2041.98694 C286,2041.43624 286.448,2040.99528 287,2040.99528 L293.847,2040.99528 C291.157,2041.07709 289,2043.27689 289,2045.9805 C289,2047.4211 289.622,2048.71105 290.602,2049.62189 C288.124,2050.76918 286.332,2053.13758 286.018,2055.95991 M298.903,2044.97588 C298.493,2042.87085 296.631,2041.02721 294.066,2040.99528 L301,2040.99528 C301.552,2040.99528 302,2041.44223 302,2041.99293 L302,2050.9717 C302,2051.5224 302.448,2051.96935 303,2051.96935 C303.552,2051.96935 304,2051.5224 304,2050.9717 L304,2040.99528 C304,2039.89289 303.105,2039 302,2039 L286,2039 C284.895,2039 284,2039.89289 284,2040.99528 L284,2056.95755 C284,2058.05895 284.895,2058.95284 286,2058.95284 L296,2058.95284 C296.552,2058.95284 297,2058.5059 297,2057.9552 C297,2057.4045 296.552,2056.95755 296,2056.95755 L287.975,2056.95755 C287.974,2056.95755 287.969,2056.89171 287.969,2056.85081 C287.969,2050.76719 295.355,2049.96309 297.21,2051.68302 C298.283,2052.67767 299.674,2051.09242 298.596,2050.32922 C298.214,2050.05786 297.806,2049.81943 297.375,2049.61691 C298.589,2048.50254 299.264,2046.83249 298.903,2044.97588" id="profile_image_plus_round-[#1327]"> </path> </g> </g> </g> </g></svg>
    <% else %>
      <svg width="50px" height="50px" viewBox="-2.1 -2.1 25.20 25.20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>edit [#1479]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-99.000000, -400.000000)" fill="#000000"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M61.9,258.010643 L45.1,258.010643 L45.1,242.095788 L53.5,242.095788 L53.5,240.106431 L43,240.106431 L43,260 L64,260 L64,250.053215 L61.9,250.053215 L61.9,258.010643 Z M49.3,249.949769 L59.63095,240 L64,244.114985 L53.3341,254.031929 L49.3,254.031929 L49.3,249.949769 Z" id="edit-[#1479]"> </path> </g> </g> </g> </g></svg>
    <% end %>
    <h2 class="fw-bold m-0"><%= teacher.new_record? ? "New Teacher" : "Edit Teacher" %></h2>
  </div>

  <div class="border rounded-4 p-4 shadow-sm"> 

<%= form_with(model: teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter teacher's name" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label fw-bold" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter email" %>
  </div>

  <div class="mb-3">
    <%= form.label :specialization, class: "form-label fw-bold" %>
    <%= form.text_field :specialization, class: "form-control", placeholder: "Enter specialization" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label fw-bold" %>
    <%= form.text_field :status, class: "form-control", placeholder: "Enter status" %>
  </div>

  <div class="mb-3">
        <%= form.label :department_id, "Department", class: "form-label fw-bold" %>
        <%= form.collection_select :department_id, Department.all, :id, :name, { prompt: "Select a department" },{ class: "form-select" } %>
      </div>



  <!-- Buttons -->
      <% if @teacher.new_record? %>
        <div class="d-flex justify-content-between">
          <div>
            <%= link_to "Back to teachers", teachers_path, class: "btn btn-secondary" %>
          </div>
          <div>
            <%= form.submit(teacher.new_record? ? "Create Teacher" : "Update Teacher", class: "btn btn-success") %>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-between">
          <div>
            <%= link_to "Back to Teachers", teachers_path, class: "btn btn-secondary" %>
          </div>
          <div class="d-flex gap-3">
            <%= link_to "Show this teacher", @teacher, class: "btn btn-outline-primary" %>
            <%= form.submit(teacher.new_record? ? "Create Teacher" : "Update Teacher", class: "btn btn-success") %>
          </div>
        </div>
      <% end %>
    
    <% end %>
  </div>