<!-- Header -->
<div>
  <header class="d-flex align-items-center gap-2 mb-3">
    <svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9,10h1a1,1,0,0,0,0-2H9a1,1,0,0,0,0,2Zm0,2a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2ZM20,8.94a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.32.32,0,0,0-.09,0A.88.88,0,0,0,13.05,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V9S20,9,20,8.94ZM14,5.41,16.59,8H15a1,1,0,0,1-1-1ZM18,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4h5V7a3,3,0,0,0,3,3h3Zm-3-3H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Z"></path></g></svg>
    <h2 class="fw-bold m-0">Teacher Information</h2>
  </header>

  <div>
    <%= render @teacher %>
  </div>
</div>

<!-- Table -->
<div class="table-responsive overflow-auto scrollbar-thin">
  <div class="d-flex gap-2 align-items-center mb-3">
    <h3 class="m-0 fw-semibold">Section List</h3>
    <span class="badge bg-primary rounded-pill fs-6">
      <%= @teacher.subjects.count %>
    </span>
  </div>
  <div class="table-responsive overflow-auto scrollbar-thin">
    <table class="table table-striped table-hover">
      <thead class="sticky-top">
        <tr>
          <th>Section</th>
          <th>Subject</th>
          <th>Room</th>
          <th>Time Slot</th>
        </tr>
      </thead>
      <tbody>
        <% @teacher.subjects.each do |subject| %>
          <% subject.sections.each do |section| %>
            <tr>
              <td><%= section.name %></td>
              <td><%= section.subject.name %></td>
              <td><%= section.room %></td>
              <td><%= section.time_slot %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Buttons -->
<div class="d-flex justify-content-between">
  <div>
    <%= link_to "Back to teachers", teachers_path, class: "btn btn-secondary" %>
  </div>
  <div class="d-flex gap-3">
    <%= button_to "Destroy this teacher", @teacher, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    <%= link_to "Edit this teacher", edit_teacher_path(@teacher), class: "btn btn-success" %>
  </div>
</div>
